.Votes {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;

    .vote {
        padding-top: 1px;
        font-size: 1.2rem;
    }

    .heart {
        cursor: pointer;
    }
}
