.ViewAllComments {
    .offcanvas {
        display: flex;
        background-color: yellow;
        height: 400rem;
    }
}

.viewAllCommentsBody {
    // background-color: green;

    .comments {
        // background-color: red;
    }
}
