.Feed {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    overflow: auto;
}

.Feed::-webkit-scrollbar {
    width: 0;
    height: 0;
}
