.Profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    .pictureProfile {
        padding-left: 1rem;
        width: 100vw;
        height: 100vh;
        overflow: scroll;
    }
}
