.Navbar {
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: #0d6efd;

    .NavAppName {
        font-size: 1.7rem;
        font-weight: 300;
        font-family: math;
        letter-spacing: 1px;
        color: white;
    }

    .ProfileImage {
        height: 40px;
        width: auto;
        border: solid 3px white;
    }

    .svg {
        fill: white;
        padding-left: 6px;
        cursor: pointer;
    }
}
