.UserFallowsAndCreations {
    display: flex;
    justify-content: space-between;
    font-size: 1.75rem;
    width: 30rem;
    padding-left: 5rem;

    .stat {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
