.EditProfile {
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    width: 30rem;
    justify-content: space-evenly;
    align-items: center;

    .editButton {
        width: 15rem;
        margin-right: 0.5rem;
    }
}
