.AddPicture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    flex-direction: column;

    .add-picture-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .renderCall {
        width: 92.017px;
    }
}
