@import "../../../Sass/Variables.scss";

.FooterNav.navbar {
    display: flex;
    justify-content: center;
    background-color: inherit;
    width: 100vw;
    border-top: solid 2px #343a40;
    background-color: white;

    .navItems {
        padding-top: 0.5rem;
        width: 50rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navItem {
        padding: 1rem;
        border: solid 3px $primary-Blue;
        border-radius: 50%;
    }

    .svg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1rem;
        width: 1rem;
    }
}
